SECRET_KEY = 'django-insecure-kum-$a-sooc8_9=i4ad51n#4r6z=s)u*3&)=js9kqs-wq$-sw8'
JWT_SIGNING_KEY = 'IOkjeJ81IBss2o9kyIvVuu47ou3jqHFIIchY7JOGnKVe67o9X3YZMX3PkjHQsCJ-i6l_y9WLB3dmsUqWzJhmKg'
DEBUG=True #False in production
ALLOWED_HOSTS=localhost,127.0.0.1 # If production, set to your domain or IP"

# Database
DB_NAME=smartseason
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

